body {
    color: white;
}

.modal-title {
    color: black !important;
}

.btn-outline-dark {
    color: white !important;
}

canvas {
    border-radius: 15px;
    animation-name: ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes  {
    from {box-shadow: 10px 10px 10px white}
    to {box-shadow: 10px 10px 10px black}
}